<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-register my-5">
                <div class="col-12">
                    <h4 class="text-center p-3">Registration Form</h4>
                </div>

                <div class="col-12">
                    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input ngModel #firstName="ngModel" type="text" name="firstName" class="form-control"
                                    placeholder="First name" required autofocus>
                                <p class="error-message" *ngIf="firstName.invalid && firstName.touched">Please enter
                                    your first name!</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input ngModel #lastName="ngModel" type="text" name="lastName" class="form-control"
                                    placeholder="Last name" required>
                                <p class="error-message" *ngIf="lastName.invalid && lastName.touched">Please enter your
                                    last name!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #email="ngModel" type="email" name="email" class="form-control"
                                    [pattern]="emailRegEx" placeholder="Email" required>
                                <p class="error-message" *ngIf="email.invalid && email.touched">Please enter valid
                                    email!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input ngModel #age="ngModel" type="age" name="age" class="form-control"
                                    placeholder="Age" required>
                                <p class="error-message" *ngIf="age.invalid && age.touched">Please enter your
                                    age!</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <input ngModel #address="ngModel" type="text" name="address" class="form-control"
                                    placeholder="Address" required>
                                <p class="error-message" *ngIf="address.invalid && address.touched">Please enter your
                                    address!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #password="ngModel" type="password" name="password" class="form-control"
                                    placeholder="Password" required minlength="6">
                                <p class="error-message" *ngIf="password.invalid && password.touched">Password must be
                                    at least 6 symbols!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #rePassword="ngModel" type="password" name="rePassword"
                                    class="form-control" placeholder="Confirm Password" required minlength="6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #photoURL="ngModel" type="text" name="photoURL"
                                    class="form-control" placeholder="Paste URL for User Profile Picture">
                            </div>
                        </div>
                        <button [disabled]="userRegForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase"
                            type="submit">Sign in</button>
                        <hr class="my-4">
                        <p class="text-center">Have an account? <a routerLink="/login" class="font-italic">Log In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>