<div class="container mt-4">
    <div class="row">
        <div class="col-lg-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-register my-5">
                <div class="col-12">
                    <h4 class="text-center p-3">Registration Form</h4>
                </div>

                <div class="col-12">
                    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input ngModel #firstName="ngModel" type="text" name="firstName" class="form-control"
                                    placeholder="First name">
                            </div>
                            <div class="col-md-6 mb-2">
                                <input ngModel #lastName="ngModel" type="text" name="lastName" class="form-control"
                                    placeholder="Last name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #email="ngModel" type="email" name="email" class="form-control"
                                    placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <input ngModel #age="ngModel" type="age" name="age" class="form-control"
                                    placeholder="Age">
                            </div>
                            <div class="col-md-6 mb-2">
                                <input ngModel #address="ngModel" type="text" name="address" class="form-control"
                                    placeholder="Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input ngModel #password="ngModel" type="password" name="password" class="form-control"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <input type="password" name="password" class="form-control"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12 mb-2">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div> -->
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                        <a class="font-italic" routerLink="/login">Already have an account? Sign in</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>