<div class="jumbotron">
    <h1 class="display-3">Hello, Customers!</h1>
    <p class="lead">This is a simple Angular Project developed by Kristian Kazalev for SoftUni Front-End Frameworks
        course.</p>
    <hr class="my-4">
    <p>Fill free to expect my simple e-commerce web site.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" routerLink="/products">See our products</a>
    </p>
</div>

<div class="container">
    <h2>See our latest products:</h2>
    <app-featured-products></app-featured-products>
</div>