.jumbotron {
    background-image: url('https://wallpapermemory.com/uploads/852/super-nintendo-wallpaper-hd-1440x900-246768.jpg');
    background-position: fill;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    color: white;
}

.bottomSection {
    padding-top: 90px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #fdb6ec,#bcfcf7);
    justify-content: center;
}
