.jumbotron {
    background-image: url('https://wallpapermemory.com/uploads/852/super-nintendo-wallpaper-hd-1440x900-246768.jpg');
    background-position: fill;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 450px;
    color: white;
}