<div class="jumbotron">
    <h1 class="display-3">Hello, Customers!</h1>
    <p class="lead">This is a simple Angular Project developed by Kristian Kazalev for SoftUni Angular course.</p>
    <hr class="my-4">
    <p>Fill free to navigate through my simple e-commerce web site.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" routerLink="/products">See our products</a>
    </p>
</div>

<div class="container">
    <h2 style="color: white;">See our latest products:</h2>
    <app-featured-products></app-featured-products>
</div>




<section class="bottomSection">
    <div class="container">
        <div class="row">
            <h2 class="pb-3 mbr-fonts-style display-2">FOLLOW US!</h2>
        </div>
    </div>
</section>