<nav class="navbar">
    <img src="./hs-logo.png" routerLink="/">

    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li *ngIf="!user">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!user">
            <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="user">
            <a [routerLink]="['/user/profile', user.email]">Profile</a>
        </li>
        <li *ngIf="user">
            <a routerLink="/products">Products</a>
        </li>
        <li *ngIf="user">
            <a routerLink="/favorites">Favorites</a>
        </li>
        <li *ngIf="user">
            <a routerLink="/cart">MyCart</a>
        </li>
        <li *ngIf="user">
            <a routerLink="/logout" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>