img{
    background-image: url('./hs-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 260px;
    height: 50px;
}

.navbar{
    width: 100%;
    background-color: #79a7b9;
    ul{
        li{
            display: inline;
            padding: 10px;
            a{
                color: black;
                font-size: 22px;
                text-decoration: none;
            }
        }
    }
}
