<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <form (ngSubmit)="updateProduct(message)">
                <label>Product Name</label>
                <input class="form-control mb-2" type="text" name="name" placeholder="Name" value="{{message.name}}"
                    [(ngModel)]="message.name">
                <label>Select Category</label>
                <select class="form-control mb-2" id="exampleSelect1" name="category" value="{{message.category}}"
                    [(ngModel)]="message.category">
                    <option>Please select category</option>
                    <option>Processors</option>
                    <option>Video Cards</option>
                    <option>Monitors</option>
                    <option>Storage</option>
                    <option>RAM</option>
                </select>
                <label for="description">Additional Information</label>
                <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3" name="description"
                    value="{{message.description}}" [(ngModel)]="message.description"></textarea>
                <label>Image URL</label>
                <input class="form-control mb-2" type="text" placeholder="Paste URL here..." name="imgURL"
                    value="{{message.imgURL}}" [(ngModel)]="message.imgURL">
                <label>Quantity</label>
                <input class=" form-control mb-2" type="number" placeholder="Quantity" name="quantity"
                    value="{{message.quantity}}" [(ngModel)]="message.quantity">
                <label>Price</label>
                <input class="form-control mb-2" type="number" placeholder="Price" name="price"
                    value="{{message.price}}" [(ngModel)]="message.price">
                <button [disabled]="" type="submit" value="Update" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>