<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="pt-4 pl-4 pr-4" style="height: 450px; width: 450px; display: block;"
                [src]="passProductInfo.imgURL" alt="{{passProductInfo.name}}">
        </div>

        <div class="col-md-7">
            <div class="editDelBtn" *ngIf="user?.email == 'kristian.kazalev@abv.bg' ">
                <button type="button" class="btn btn-warning" (click)="newProductInfo(passProductInfo)"
                    routerLink="../../../updateProduct/{{passProductInfo.id}}">
                    <i class="fa fa-pencil"></i> Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteProduct(passProductInfo)">
                    <i class="fas fa-trash-alt"></i> Delete</button>
            </div>
            <p class="newarrival text-center mt-4">NEW</p>
            <h2>{{passProductInfo.brand}} {{passProductInfo.name}}</h2>
            <p>Product Code: <i>{{passProductInfo.productCode}}</i></p>
            <p class="price">{{passProductInfo.price}} лв.</p>
            <p><b>In Stock: </b> {{passProductInfo.quantity}}</p>
            <p><b>Brand: </b> <i><u>{{passProductInfo.brand}}</u></i></p>
            <p>
                <details>
                    <summary><b>Click here for Description</b></summary>
                    <p>{{passProductInfo.description}}</p>
                </details>
            </p>
            <label>Quantity: </label>
            <input type="number" value="1">
            <div *ngIf="passProductInfo.quantity === 0; then ngOut else ngIn"></div>

            <ng-template #ngIn>
                <button type="button" class="btn btn-default cart" (click)="addToCart(passProductInfo)"><i class="fas fa-shopping-cart"></i> Add to cart</button>
            </ng-template>
            <ng-template #ngOut>
                <button type="button" class="btn btn-default cart" disabled><i class="fas fa-shopping-cart"></i> Add to cart</button>
            </ng-template>
        </div>
    </div>
</div>

<h2>Similar products:</h2>