.container {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-bottom: 30px;
    background-color: white;
}

.newarrival {
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7 h2 {
    color: #555;
}

.price{
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
    margin-left: 10px;
}

.cart{
    background: #fe980f;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}