<div class="row">
    <div class="col-sm-3 sortBy">
        <div>
            <h2>Sort By:</h2>
            <ul>
                <li>
                    <button class="btn btn-info">Name</button>
                </li>
                <li>
                    <button class="btn btn-info">Price Up</button>
                </li>
                <li>
                    <button class="btn btn-info">Price Down</button>
                </li>
                <li>
                    <button class="btn btn-info">Something else</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <app-featured-products></app-featured-products>
    </div>
</div>