<div class="card mb-3" style="height: 500px;">
    <div class="heart" name="add-favorite">
        <i class="fas fa-heart"></i>
    </div>
    <i routerLink="product/details/{{product.id}}" (click)="productDetails(product)">
        <img class="pt-4 pl-4 pr-4" style="height: 200px; width: 100%; display: block;" [src]="product.imgURL"
            alt="Product image">
    </i>
    <div class="card-body">
        <a routerLink="product/details/{{product.id}}" (click)="productDetails(product)">
            <p class="card-justify font-weight-bold text-center">{{product.brand}} {{product.name | shorten}}</p>
        </a>
    </div>
    <div *ngIf="product.quantity === 0; then ngOut else ngIn"></div>

    <ng-template #ngIn>
        <div *ngIf="product.quantity <= 3; then ngLast else ngInText"></div>

        <ng-template #ngLast>
            <h6 class="text-center" #ngIn style="color: orange">Last {{product.quantity}} products</h6>
            <div class="card-footer text-center">
                <p style="color: green;">{{product.price}} лв.</p>
                <button class="btn" [id]="product.id" (click)="addToCart(product)">
                    <i class="fas fa-shopping-cart"></i> Add to Cart</button>
            </div>
        </ng-template>

        <ng-template #ngInText>
            <h6 class="text-center" #ngIn style="color: green;">{{product.quantity}} in stock</h6>
            <div class="card-footer text-center">
                <p style="color: green;">{{product.price}} лв.</p>
                <button class="btn" [id]="product.id" (click)="addToCart(product)">
                    <!-- (click)="showToaster()" -->
                    <i class="fas fa-shopping-cart"></i> Add to Cart</button>
            </div>
        </ng-template>

    </ng-template>

    <ng-template #ngOut>
        <div class="card-footer text-center">
            <p style="color: grey;">{{product.price}} лв.</p>
            <h6 class="text-center" #ngOut style="color: red;">Out of stock</h6>
        </div>
    </ng-template>
</div>