/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://wallpaperaccess.com/full/186461.jpg');
    background-position: fill;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
}